<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Controle de Vacinação</title>
</head>

<body>
  <!-- Menu lateral -->
  <div  style="background-color: #6D0011; color: #FFD4F5" th:fragment="sidebar" class="hidden flex-col space-y-3 py-1 pl-5 pt-10 md:flex md:w-72">
    <th:block th:replace="~{layout/fragments/menu :: menu}"></th:block>
  </div>
</body>

</html>