<!DOCTYPE html>
<html
  lang="pt-BR"
  layout:decorate="~{layout/layoutpadrao}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title> Pesquisar Vacinas</title>
  </head>

  <body>
    <main
    layout:fragment="conteudo"
    class="flex flex-col align-middle w-full m-10"
    >
    <h2 class="text-2xl w-2/3 ms-16 text-slate-800 mr-1.5 ">Alterar vacina</h2>
        <form th:action="@{/vacinas/alterar}" method="post" class="w-2/3 mt-10 ms-16 flex flex-col gap-3">
            <div class="flex flex-col gap-30 mb-5">
                 <div class="mb-5">
                    <label for="codigo" class="block text-gray-700 font-medium mb-2">Código</label>
                    <input disabled th:field="${vacina.codigo}" type="number" class="w-full  py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Digite o código" />
                    <input type="hidden" th:field="${vacina.codigo}">
                  </div>
                
                <div class=" mb-5">
                    <label for="nome" class="block text-gray-700 font-medium mb-2">Nome</label>
                    <input th:field="${vacina.nome}" type="text"  class="w-full py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Digite o nome" />
                </div>

                <div class=" mb-5">
                    <label for="descricao" class="w-full block text-gray-700 font-medium mb-2">Descrição</label>
                    <input th:field="${vacina.descricao}" type="text" class="w-full py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Digite a descrição" />
                </div>
            </div>
            <button type="submit" class="py-3 px-4 text-center w-full inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">ALTERAR</button>
        </form>

    </main>
  </body>
</html>
